<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adeebakhan.i190626">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.I190626"
        tools:targetApi="31">
        <activity
            android:name=".MainActivityScreen18"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen17"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen16"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen15"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen14"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen13"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen12"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen11"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen10"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen9"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen8"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen7"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen6"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen5"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen4"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen3"
            android:exported="false" />
        <activity
            android:name=".MainActivityScreen2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>